<html>
<head>
	<meta charset="utf-8">

	<title>K-means Text Clustering</title>
	<meta name="description" content="text clustering UI">
	<meta name="author" content="wendy">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<!--  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0" />
	 <meta http-equiv="cache-control" content="max-age=0" />
	 <meta http-equiv="expires" content="0" />
	 <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	 <meta http-equiv="pragma" content="no-cache" /> -->
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles.css" />

	<script type="text/javascript" src="../static/script.js"></script>

</head>

<body>
	<!-- <script src="coms_cluster_data.js"></script> -->
	<!-- <script src='coms_cluster_data.js'></script>  -->
	<script>
		$(document).ready(function(){

			// var warning = '{{ alert }}';
			// if(warning){
			// 	alert(warning);
			// }
			$("verifiedContainer").hide();

			$("#verifiedSummaries").hide();

			var d = JSON.parse(JSON.stringify('{{ clusters | tojson }}'));
			var data = jQuery.parseJSON( d );



			function appendHomeHtml(data){
				var numClusters = 0;
				for(d in data){
					if(d === "Document count"){
						$('#pageTitle').append("<span id='homeTotalDocCount'> Items to cluster: " + data[d] + " /  <span id='homeNumDocsRemaining'></span></span>");
					}
					else if(d === "Stopwords"){
						$('#stopWordsRow').empty();
						console.log(data[d].length);
						for(var i = 0; i<data[d].length; i++){
							// $('#stopWordsRow').append("<span class='stopword' id='sw_" + data[d][i] + "' value='" + data[d][i] + "'" + data[d][i] +"</span>");	
							 $('#stopWordsRow').append("<span class='stopword' id='wbox_" + data[d][i] + "' onclick='removeStopword(this.id)'> " + data[d][i] + " <i class='fa fa-times-circle' aria-hidden='true'></i></span>");
						}
						// $('#stopWordsRow').append(data[d].toString());
						console.log(data[d].toString());
					}
					else{
						var id = d.replace(/\s+/g, '-');
						$("#homeSummaries").append("<div class='summary' id='" + id + "Summary'><a href='#" + id + "' id='" + id + "TitleSummary'>" + d + "</a><div class='summaryFirstWord'><b>" + data[d][0]["word"] + "</b><span class='summaryDocCount'></span></div>" + "</div>");
						numClusters = numClusters + 1;
						// var element = document.getElementById('pageTitle').outerHTML;
						var row = "<div class='row clusterData' id='" + id +"'>\
										<div class='col-md-3'>\
											<div class='clusterTitle' id='" + id + "Title' contenteditable='true' > \
												"+ d + "\
											</div>\
										</div>\
										<div class='col-md-9'>\
											<div class='docHeader'>\
												<div class='docCount'>\
												</div>\
												<div class='verify'>\
			    									<form action='{{ url_for('verified') }}' method='post' class='verifyForm'>\
			    										<input type='checkbox' id ='" + id + "VerifyBox' onclick='markValid(this.id)'> \t<span style='color:black;'> Verify </span>\
			    									</form>\
												</div>\
											</div>\
											<div class='docBody'>\
											</div>\
										</div>\
									</div>";
						// console.log(id);
						// console.log(data[d][0]);
						$("#homeContainer").append(row);
						// var chbxId = "'" + id + "Chbx'";
						var word = "";
						// var sentence = "";
						var sentenceCount = 0;
						var sentenceWeight = "";
						for(var i = 0; i<data[d].length; i++){
							for (var p in data[d][i]) {
								if(p === "word"){
									word += (i+1) + ". <b>" + data[d][i][p] + "</b> ";
								}
								else if(p === "word_weight"){
									word += "<span style='color:lightgrey'> (" + data[d][i][p] + ") </span><br>";
									$('#homeContainer #' + id + ' .col-md-3').append("<div class='topWord'>"+ word +"</div>");
									word = "";
								}
								else if(p === "sentence"){
									var sentence = "\"..." + data[d][i][p] + "\" " + sentenceWeight;
									$('#' + id + ' .docBody').append("<div class='neutralDoc' style='display:block;' id='" + id + "sentence" + sentenceCount + "'> <i class='fas fa-check fa-1x' id='" + id + "sentence" + sentenceCount + "check' onclick='checkDocument(this.id)'></i> <i class='fas fa-times fa-1x' id='" + id + "sentence" + sentenceCount + "X' onclick='invalidateDocument(this.id)'></i>\t<span class='sentenceTxt'>"+ sentence +"</div>");
									sentenceCount += 1;
									sentenceWeight = "";
								}
								else if(p === "sent_weight"){
									sentenceWeight = "<span style='color:lightgrey'> (" + data[d][i][p] + ")</span><br>";
								}
								else if(p === "doc_count"){
									$('#homeContainer #' + id + ' .docCount').append("Items: "+ data[d][i][p]);
									$('#homeSummaries #' + id + 'Summary .summaryDocCount').append(" (" + data[d][i][p] + ")")
								}
								
							}				
						}
						// document.getElementById(id + 'VerifyBox').value = getVerifiedClusterData(id);
					}



				} // endfor

				var numUnverifiedDocs = document.getElementById('homeContainer').getElementsByClassName('sentenceTxt').length;
				$('#homeNumDocsRemaining').append(numUnverifiedDocs);

				var screenPercent = 100/numClusters + "%";
				$('#homeSummaries .summary').css('width', screenPercent);

				var row = "<div id='miscCluster'> \
								<div class='row clusterData'>\
									<div class='col-md-3'>\
										<div class='clusterTitle' id='miscClusterTitle' contenteditable='true'> \
											Miscellaneous \
										</div>\
									</div>\
									<div class='col-md-9'>\
										<div class='docHeader'>\
											<div class='docCount'>\
											</div>\
											<div class='verify'>\
												<form action='{{ url_for('verified') }}' method='post' class='verifyForm'>\
													<input type='checkbox' id ='miscVerifyBox' onclick='markValid(this.id)'> \tVerify \
												</form>\
											</div>\
										</div>\
										<div class='docBody' id='miscBody'>\
										</div>\
									</div>\
								</div>\
							</div>";

				$("#homeContainer").append(row);
				$("#miscCluster").hide();
				

			var titleTxt = $('.clusterTitle').html();	
					
			$('.clusterTitle').blur(function() {
				//var titleTxt = $('.clusterTitle').html();				
				var oldText = titleTxt
				var currentText = $(this).html()
				//if the current text is different from the old text, then
				//if(true){
				if (titleTxt!=currentText){
					//set the titleTxt to the current text
			        titleTxt = currentText
			        var id = this.id + "Summary";
			        $('#' + id).text(titleTxt);
			    }
			});
			}

			appendHomeHtml(data);


			$("#filler").height($("#header").outerHeight());
			$("#backCover").height($("#header").outerHeight());

			// var stopWords = '{{stop_words}}'.replace(/&#39;/g, "").replace(/{/g, "").replace(/}/g, "");
			// if(stopWords !== 'set()'){
			// 	// var array = stopWords.split(', ');
			// 	// for(var i = 0; i < array.length; i++){
			// 	// 	$('#stopWordsRow').append("<span id='" + array[i] + "_stopword' onclick=this.remove()>" + array[i] + "</span>");
			// 	// }
			// 	$('#stopWordsRow').append(stopWords);
			// 	console.log(stopWords);
			// }

			function clearDocHtml(){
				$('#homeTotalDocCount').remove();
				$('#homeSummaries').empty();
				$('#homeContainer .clusterData').remove();
				$('#verifiedNavForm input').remove();
				$('#invalidNavForm input').remove();
				$('#homeContainer').empty();
				$('.textbox').val('');
			}

			function appendVerifiedHtml(data){
				var numClusters = 0;
				var totalDocs = 0;
				for(cluster in data){
					numClusters += 1;
					var id = cluster.replace(/\s+/g, '-');
					var row = "<div class='row clusterData' id='" + id +"'>\
									<div class='col-md-3'>\
										<div class='clusterTitle' id='" + id + "Title' contenteditable='true'> \
												"+ cluster + "\
										</div>\
									</div>\
									<div class='col-md-9'>\
										<div class='docHeader'>\
											<div class='docCountV'>\
											</div>\
										</div>\
										<div class='docBody'>\
										</div>\
									</div>\
								</div>";

					$('#verifiedContainer').append(row);

					var wordsList = data[cluster]["top_words"];
					for(i in wordsList){
						var word = wordsList[i];
						if( i === '0' ){
							var isolatedWord = word.substring(word.indexOf(' '), word.indexOf(' ('));
							$("#verifiedSummaries").append("<div class='summary'><a style='color:black' href='#" + id + "'>" + cluster + "</a><br>" + isolatedWord + " <span id='" + id + "summaryDocCount' ></span>" + "</div>");
						}
						// $('#' + id + ' .col-md-3').append("<div class='topWord'>"+ word +"</div>");
					}

					var sentences = data[cluster]['sentences'];
					var sentenceCount = 0;
					$('#' + id + ' .docCountV').append("Documents in cluster: "+ sentences.length);
					$('#verifiedSummaries #' + id + 'summaryDocCount').append(sentences.length + " docs");
					for(i in sentences){
						var s = sentences[i];
						var sentence = "\"..." + s.substring(0, s.lastIndexOf('(')-1) + "\" " + s.substring(s.lastIndexOf('('));
						$('#' + id + ' .docBody').append("<div class='goodDoc' id='" + id + "sentence" + sentenceCount + "' onclick='markDocument(this.id)'> <input type='checkbox' id ='" + id + "sentence" + sentenceCount +"VerifyBox'>\t<span class='sentenceTxt'>"+ sentence +"</div>");
						totalDocs += 1;
						sentenceCount += 1;
					}

				} //endfor
				//$('#pageTitle').append("<span id='verTotalDocCount'> Items: " + totalDocs + "</span>");

				var screenPercent;
				if(numClusters < 2){
					screenPercent = "25%"
				}
				else{
					screenPercent = 100/numClusters + "%";
				}
				$('.summary').css('width', screenPercent);

			}

			function aggregateDocsForReclustering(){
				$("#form input[name='docs']").remove();
				var remainingDocs = document.getElementById('homeContainer').querySelectorAll('.goodDoc,.neutralDoc,.badDoc');
				for(var i = 0; i < remainingDocs.length; i++){
					var docText = remainingDocs[i].getElementsByClassName('sentenceTxt')[0].innerText;
					var txt = docText.replace(/[^A-Za-z-\s]/g,"").replace(/\s{2,}/g, " ");
					$('#form').append("<input type='hidden' name='docs' value='" + txt + "'>");
				}
				
			}

			document.getElementById("stopwordIn").addEventListener("keyup", function(event) {
				event.preventDefault();

				if (event.keyCode === 13) {
					var addedSw = $('#stopwordIn').val().trim();
					$('#form').append("<input type='hidden' name='stopword' id='w_" + addedSw + "' value='" + addedSw + "'>");
					$('#stopWordsRow').append("<span class='stopword' id='wbox_" + addedSw + "' onclick='removeStopword(this.id)'> " + addedSw + " <i class='fa fa-times-circle' aria-hidden='true'></i></span>");
					$('#stopwordIn').val('');
				}
			});

			//$(function(){
			$('#recalcBtn').click(function(){
				// var user = $('#txtUsername').val();
				// var pass = $('#txtPassword').val();
				if($('#stopwordIn').val() !== ''){
					$('#form').append("<input type='hidden' name='stopword' id='w_" + $('#stopwordIn').val() + "' value='" + $('#stopwordIn').val() + "'>");
				}
				
				aggregateDocsForReclustering();
				$.ajax({
					url: '/recluster',
					data: $('#form').serialize(),
					type: 'POST',
					success: function(response){
						var d = JSON.parse(JSON.stringify(response));
						var data = jQuery.parseJSON( d );
						clearDocHtml();
						appendHomeHtml(data);
					},
					error: function(error){
						console.log(error);
					}
				});
			});

			$('#recalcNewSeedBtn').click(function(){
				// var user = $('#txtUsername').val();
				// var pass = $('#txtPassword').val();
				if($('#stopwordIn').val() !== ''){
					$('#form').append("<input type='hidden' name='stopword' id='w_" + $('#stopwordIn').val() + "' value='" + $('#stopwordIn').val() + "'>");
				
				}
				aggregateDocsForReclustering();
				$.ajax({
					url: '/reclusterNewSeed',
					data: $('#form').serialize(),
					type: 'POST',
					success: function(response){
						var d = JSON.parse(JSON.stringify(response));
						var data = jQuery.parseJSON( d );
						clearDocHtml();
						appendHomeHtml(data);
					},
					error: function(error){
						console.log(error);
					}
				});
			});

			$('#homeNavForm').click(function(){
				// var user = $('#txtUsername').val();
				// var pass = $('#txtPassword').val();
					$("#homeContainer").show();
					$("#homeTotalDocCount").show();
					$("#homeSummaries").show();
					$("#verifiedContainer").hide();
					$("#verTotalDocCount").hide();
					$("#verifiedSummaries").hide();
			});

			$('#verifiedNavForm').click(function(){
				$("#homeContainer").hide();
				$("#homeTotalDocCount").hide();
				$("#homeSummaries").hide();
				// appendVerifiedHtml(data);
				$("#verifiedContainer").show();
				$("#verifiedContainer").find('*').show();
				$("#verTotalDocCount").show();
				$("#verifiedSummaries").show();
			});

			$('.sentenceTxt').dblclick(function(e) {
		        var selection = window.getSelection() || document.getSelection() || document.selection.createRange();
		        var word = $.trim(selection.toString());
		        if(word != '') {
		            alert(word);
		        }
		        /* use this if firefox: selection.collapse(selection.anchorNode, selection.anchorOffset); */
		    });
	
			//});

		})
		
	</script>

	<div class="container">
		<div id="menu">
			<div id='header'> 
						<div class='row' id='topRow'> 
							<div class='col-md-10'> 
								<div id='pageTitle'> 
									<h3> Insight Mining </h3> 
									<br>
								</div> 
							</div> 
							<div class='col-md-1'> 
								<span id='homeNavForm'>
									<button class='navBtn' name='homeBtn' id='homeBtn' type='submit'> 
										<i class='fas fa-home fa-3x'></i>
									</button> 
								</span>
							</div>
							<div class='col-md-1'> 
								<form id='verifiedNavForm'>
									<button class='navBtn' name='verifyBtn' id='verifyBtn' type='button'> 
										<i class='fas fa-check fa-3x' id='navCheckIcon'></i> 
									</button> 
								</form>
							</div>
						</div> 
						<div class='row'> 
							<div class='col-md-12'> 
								<form id='form' name='stopwordInput'>
									Stop Word: 
									<input type='text' id='stopwordIn' class='textbox' name='stopwords'> 
<!-- 									Remove Stop Word: 
									<input type='text' class='textbox' name='removeStopword'>  -->
									<!-- Number of Clusters:  -->
									<!-- <input type='text' class='textbox' name='k'>  -->
									<!-- N Top Words:  -->
									<!-- <input type='text' class='textbox' name='nTopWords'>  -->
									<!-- <br>  -->
									<button class='reclusterBtn' id='recalcBtn' name='reclusterBtn' type='button' value='recalcSameSeed'>	
										Re-Cluster 
									</button> 
									<button class='reclusterBtn' id='recalcNewSeedBtn' name='reclusterBtn' type='button' value='recalcDiffSeed'> 
										New Seed 
									</button> 
								</form>
								
							</div> 
						</div> 
						<div class='row'> 
							<div class='col-md-12' id='stopWordsRow'> 
							</div> 
						</div> 
						<div class='row'> 
							<div class='col-md-12' id='clusterSummaries'> 
								<div> 
									
									<div id='homeSummaries'> 
									</div> 
									<div id='verifiedSummaries'> 
									</div> 
								</div> 
							</div> 
						</div> 
						</div> 
						<div id='backCover'> 
						</div> 
						<div id='filler'> 
						</div>

		</div>
		<div id="homeContainer">
		</div>
		<div id="verifiedContainer">
		</div>
	</div>
</body>

</html>